/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2847e2;
  --ifm-color-primary-dark: #1c3bd3;
  --ifm-color-primary-darker: #1b38c7;
  --ifm-color-primary-darkest: #162ea4;
  --ifm-color-primary-light: #3f5be5;
  --ifm-color-primary-lighter: #4b65e7;
  --ifm-color-primary-lightest: #6e83eb;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #dac90b;
  --ifm-color-primary-dark: #c4b50a;
  --ifm-color-primary-darker: #b9ab09;
  --ifm-color-primary-darkest: #998d08;
  --ifm-color-primary-light: #f0dd0c;
  --ifm-color-primary-lighter: #f3e114;
  --ifm-color-primary-lightest: #f5e535;
}
